<% include partials/header %>
<div class="container">
  <% sort = sort.replace(/([A-Z])/g, ' $1').trim() %>
  <% sort = sort.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();}); %>
  <h1><%=sort%> Pens</h1>

<% if(pens[0]) { %>
<div class="row flex">
    <% pens.forEach(function(pen){ %>
      <div class="col-lg-4 col-sm-6">
          <div class="thumbnail">
              <% if (pen.images.length > 0) { %>
              <img class="img-responsive" src="<%=pen.images[0]%>" style="width:100%">
              <% } else { %>
              <img class="img-responsive" src="/assets/images/filler.png" style="width:100%">
              <% } %>
            <div class="caption">
                <p><%= pen.title %></p>
                <p>$<%=pen.price %></p>
                <a href="/pens/<%=pen._id%>" class="btn btn-primary">More Info</a>
              </div>
             </div>
        </div>
    <% }); %>
    </div>
<% } else { %>
<p>No <%=sort%> pens currently in stock. Please check back later!</p>
<% }%>
    <% if(currentUser  && currentUser.username == 'ross') {%>
    <div class="row flex">
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
            <a class="btn btn-primary plus" href="/pens/new">+</a>
        </div>
        </div>
        </div>
    <% }%>
</div>
<% include partials/footer %>