<% include partials/header %>
<div class="main" id="mainGallery">
  <% sort = sort.replace(/([A-Z])/g, ' $1').trim() %>
  <% sort = sort.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();}); %>
  <% if (banner) { %>
  <div class="banner__image" style="background-image: url(<%=banner%>);">
  <div class="banner__layer">
    <div id="banner" class="banner">
      <h1 class="banner__text"><%=sort%> Pens</h1>
    </div>
  </div>
</div>

  <% } else { %>
  <h1 class="sort"><%=sort%> Pens</h1>
  <img src="https://s3.amazonaws.com/rosspens-assets/images/divider.png" class="divider">
  <% } %>
<% if (currentUser && currentUser.admin === true) { %>
  <a href="/admin/pens" class="adminNav">View in Table</a>
<% } %>
<% if(pens[0]) { %>
<div class="gallery">
    <% pens.forEach(function(pen){ %>
      <div class="item">
          <div class="item__image">
              <% if (pen.images.length === 0 || pen.images[0] === "") { %>
                <a href="/pens/<%=pen.slug%>"><img class="show-thumbnail" src="https://s3.amazonaws.com/rosspens-assets/images/filler.png" alt="divider"></a>
              <% } else { %>
                <a href="/pens/<%=pen.slug%>"><img class="show-thumbnail" src="<%=pen.images[0]%>" alt="<%=pen.title%>"></a>
              <% } %>
          </div>
          <div class="caption">
              <div class="caption__text">
                <p><%= pen.title %></p>
                <p>$<%=pen.price %></p>
              </div>
              <a href="/pens/<%=pen.slug%>" class="button button--inline">MORE INFO</a>
              <% if (currentUser && currentUser.admin === true) { %>
                <a href="/pens/<%=pen.slug%>/edit" class="button button--inline">EDIT</a>
                <form action ="/pens/<%=pen.slug%>?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure?')" class="button--inline">
                  <button class="button">DELETE</button>
                </form>
              <% } %>
            </div>
        </div>
    <% }); %>
    <% if(currentUser && currentUser.admin === true) {%>
      <div class="item">
        <div class="item__image">
            <a class="button button__plus" href="/pens/new">+</a>
        </div>
      </div>
    </div>
    <% }%>
</div>
    </div>
<% } else { %>
<div class="article">
<p class="article__body">No <%=sort%> pens currently in stock. Please check back later!</p>
<% if(currentUser  && currentUser.admin === true) {%>
    <div class="gallery">
      <div class="item">
        <div class="item__image">
            <a class="button button__plus" href="/pens/new">+</a>
        </div>
      </div>
    </div>
  </div>
 <% }%>
<% }%>
</div>

<% include partials/footer %>