<% include partials/header %>
<div class="main">
  <% sort = sort.replace(/([A-Z])/g, ' $1').trim() %>
  <% sort = sort.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();}); %>
  <h1 class="sort"><%=sort%> Pens</h1>
  <img src="https://s3.amazonaws.com/rosspens-assets/images/divider.png" class="divider">

<% if(pens[0]) { %>
<div class="gallery">
    <% pens.forEach(function(pen){ %>
      <div class="item">
          <div class="itemImg">
              <% if (pen.images.length > 0) { %>
              <a href="/pens/<%=pen._id%>"><img class="show-thumbnail" src="<%=pen.images[0]%>" alt="<%=pen.title%>"></a>
              <% } else { %>
              <a href="/pens/<%=pen._id%>"><img class="img-responsive" src="https://s3.amazonaws.com/rosspens-assets/images/filler.png"></a>
              <% } %>
          </div>
          <div class="caption">
              <div class="caption-text">
                <p><%= pen.title %></p>
                <p>$<%=pen.price %></p>
              </div>
              <a href="/pens/<%=pen._id%>" class="btn inline-btn">MORE INFO</a>
              <% if (currentUser && currentUser.admin === true) { %>
                <a href="/pens/<%=pen._id%>/edit" class="btn inline-btn">EDIT</a>
                <form action ="/pens/<%=pen._id%>?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure?')" class="inline-btn">
                  <button class="btn">DELETE</button>
                </form>
              <% } %>
            </div>
        </div>
    <% }); %>
    <% if(currentUser && currentUser.admin === true) {%>
      <div class="item">
        <div class="itemImg">
            <a class="btn btn-primary plus" href="/pens/new">+</a>
        </div>
      </div>
    </div>
    <% }%>
</div>
    </div>
<% } else { %>
<div class="article">
<p>No <%=sort%> pens currently in stock. Please check back later!</p>
<% if(currentUser  && currentUser.admin === true) {%>
    <div class="gallery">
      <div class="item">
        <div class="itemImg">
            <a class="btn btn-primary plus" href="/pens/new">+</a>
        </div>
      </div>
    </div>
  </div>
 <% }%>
<% }%>
</div>

<% include partials/footer %>