<% include partials/header %>

<div class="bgimage">
  <div class="layer">
    <div id="header" class="header">
      <h1><span class="title">RossPens</span><span class="tagline">Your source for reliable, affordable vintage pens</span></h1>
    </div>
  </div>
</div>

<!--
<section>
  <div class="news">
    <div class="news__1-of-6">
    </div>
    <div class="news__center-column">
      <p class="blurb"> <em>RossPens.com is a site for fountain pens, primarily restored vintage pens.
      I pride myself as a reliable source of working pens, accurately described. All our pens are guaranteed be as described
      and to work as they should. I'd rather you know the imperfections before you buy, reminding you that a 40 year
      old pen may not look as it did when came straight out of the box. But the real joy in these old pens is how they write:
      smoothed by years of use.</em></p>
    </div>
    <div class="news__1-of-6"></div>
  </div>
    <!--<div class="pic">-->
    <!--  <img class="portrait" src="https://s3.amazonaws.com/rosspens-assets/images/Ross.jpg">-->
    <!--</div>-->
<section class="ribbon"> 
</section>
<section>
  <div class="news">
    <div class="news__left-column">
    </div>
    <div class="news__center-column">
      <div class="blog__header">
        <div class="blog__title">
          <h2 class="blog__title--text"><%=message.title%></h2>
        </div>
       
      </div>

    </div>
    <div class="news__right-column">
    </div>
  </div>
  <div class="news">
    <div class="news__left-column">
      <div class="new-pens">
        <h2 class="new-pens__header">Latest Additions</h2>  
        <% pens.forEach(pen => { %>
          <div class="new-pens__display">
            <a href="/pens/<%=pen._id%>"><img class="new-pens__display--thumbnail" src=<%=pen.images[0]%> alt=<%=pen.title%>></a>
            <a class="new-pens__display--title" href="/pens/<%=pen._id%>"><%=pen.title%></a>
          </div>
        <% });%>
          <div class="new-pens__display">
            <a class="new-pens__display--title" href="/pens/whatsnew">See More...</a>
          </div>
      </div>
    </div>
    <div class="news__center-column">
       <div class="blog__content">
        <%-message.content%>
        </div>
        <p class="blog__date"><%=message.dateAdded.toDateString()%></p>
    </div>
    <div class="news__right-column">
       <img class="news__portrait" src="https://s3.amazonaws.com/rosspens-assets/images/Ross.jpg" />
    </div>
  </div>

</section>



<script src="assets/js/landing.js"></script>
<% include partials/footer %>
