<% include partials/header %>

<div class="bgimage">
  <div class="layer">
    <div id="header" class="header">
      <h1><span class="title">RossPens</span><span class="tagline">Your source for reliable, affordable vintage pens</span></h1>
    </div>
  </div>
</div>

<div class="ribbon"></div>
<section>
 <div class="blog">
  <div class="blog__header">
    <div class="blog__title">
      <h2 class="blog__title--text"><%=message.title%></h2>
    </div>
  </div>
    <div class="blog__content">
        <%-message.content%>
    </div>
    <p class="blog__date">- Ross McKinney<br><%=message.dateAdded.toDateString()%></p>
  </div>
</section>
  
<section>
  <div class="new-pens">
    <h2 class="new-pens__header">Latest Additions</h2>
    <div class="new-pens__display">
      <% pens.forEach(pen => { %>
        <div class="new-pens__display--item">
          <a href="/pens/<%=pen.slug%>"><img class="new-pens__display--thumbnail" src=<%=pen.images[0]%> alt=<%=pen.title%>></a>
          <a class="new-pens__display--title" href="/pens/<%=pen.slug%>"><%=pen.title%></a>
        </div>
      <% });%>
      <div>
        <a class="new-pens__link" href="/pens/whatsnew">See More...</a>
      </div>
    </div>
  </div>
</section>
  
<section class="portrait">
  <div class="card">
    <img class="portrait__photo" src="https://s3.amazonaws.com/rosspens-assets/images/Ross.jpg" alt="Ross McKinney, Jr."/>
    <div class="portrait__text">
      <span class="portrait__text__header">Ross McKinney, Jr.</span>
      I pride myself as a reliable source of working pens, accurately described. All our pens are guaranteed be as described and to work as they should.
    </div>
  </div>
</section>

</section>
<footer>
  <div class="grid">
    <div class="grid__1-of-5"></div>
    <div class="grid__1-of-5">
        <div class="contact__header">
          <h2><i class="fas fa-address-card"></i> Contact:</h2>
        </div>
    </div>
    <div class="grid__1-of-5"></div>
    <div class="grid__1-of-5"></div>
    <div class="grid__1-of-5"></div>
  </div>
  </div>
  <div class="grid">
    <div class="grid__1-of-5"></div>
    <div class="grid__1-of-5"> 
      <p><span class="contact__icon"><i class="fas fa-mobile"></i></span>919.308.0504</p>
      <p><a href="mailto:ross@rosspens.com"><span class="contact__icon"><i class="fas fa-envelope"></i></span>ross@rosspens.com</a></p>
    </div>
    <div class="grid__2-of-5">
       <div class="contact__address">
        <p>Please mail any pens or payments to:</p>
        <p>Ross McKinney, Jr.</p>
        <p>2523 Charlock Court</p>
        <p>Chapel Hill, NC 27514-9609</p>
      </div>
    </div>
    <div class="grid__1-of-5"></div>
    <div class="grid__1-of-5"></div>
  </div>
  <p class="copyright">Websited designed by Tucker McKinney, 2018.</p>
</footer>


<script src="assets/js/landing.js"></script>
<% include partials/footer %>
