<% include partials/header %>.

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2><%= pen.model %></h2>
            <p><%= pen.description %></p>
            <p>$<%= pen.price %></p>
            <% if (!currentUser) { %>
            <a href="mailto:ross@rosspens.com?subject=Inquiry about <%=pen.model%>&body=I would like to know about the <%=pen.model%> currently listed on your website." class="btn btn-primary">Inquire</a>
            <% } %>
            <% if (currentUser && currentUser.username === "ross") { %>
            <a href="/pens/<%=pen._id%>/edit" class="btn btn-warning inline-btn">EDIT</a>
            <form action ="/pens/<%=pen._id%>?_method=DELETE" method="POST" class="inline-btn">
                <button class="btn btn-danger">DELETE</button>
            </form>
            <% } %>
        </div>
        <div class="col-md-9">
            <% pen.images.forEach(function(image){ %>
            <img class="img-thumbnail img-responsive" src="<%=image %>">
            <% }); %>
        </div>
    </div>
</div>

<% include partials/footer %>
