<% include partials/header %>

<div class="main">
    <div class="pen">
        <div class="pen__sidebar">
            <div class="pen__gallery">
            <% pen.images.forEach(function(image, index){ %>
                <div class="item--large">
                    <img class="thumbnail pen__thumbnail" onclick="openModal(); currentSlide(<%=index + 1%>)" src="<%=image %>" alt="<%= pen.title%>">            
                </div>
            <% }); %>
            </div>
        </div>
        <div class="pen__main">
            <div class="pen__info">
                <h1 class="pen__title"><%= pen.title %></h1>
                <h2 style="font-size: 1.6rem">Nib: <%= pen.nib %></h2>
                <% if (pen.sold) { %> <h3 style="font-size: 2rem; color: red;">SOLD</h3><% } %>                    
                <p><%= pen.description %><br/>
                    $<%=pen.price %></p>
                <% if (!currentUser && !pen.sold) { %>
                <a href="mailto:ross@rosspens.com?subject=Inquiry about <%=pen.title%>&body=I would like to know more about the <%=pen.title%> currently listed on your website." class="button button--primary">Inquire</a>
                <% } %>
                <% if (currentUser && currentUser.admin === true) { %>
                    <% if (!pen.sold) { %>
                        <form action=<%=`/pens/${pen.slug}/sold?_method=PUT`%> method="POST"> <input class="button button--inline" type="submit" value="Mark as Sold" /></form>
                    <% } else { %>
                        <form action=<%=`/pens/${pen.slug}/activate?_method=PUT`%> method="POST"> <input class="button button--inline" type="submit" value="Activate Pen" /></form>
                    <% } %>
                <a href="/pens/<%=pen.slug%>/edit" class="button button--warning button-inline">EDIT</a>
                <form action ="/pens/<%=pen.slug%>?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure?')" class="inline-btn">
                    <button class="button button--danger">DELETE</button>
                </form>
                <% } %>
            </div>
        </div>
    </div>
    <div class="modal" id="penModal">
        <span class="modal__close cursor" onClick="closeModal()">&times;</span>
        <div class="modal__content">
             <% pen.images.forEach(function(image, index){ %>
                 <div class="modal__slide">
                    <div class="modal__slide--numbertext">
                        <%=index + 1 %> / <%=pen.images.length %>
                    </div>
                    <img src="<%=image%>" class="modal__image">
                </div>
            <% }); %>
            <a class="modal__prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="modal__next" onclick="plusSlides(1)">&#10095;</a>
            <div class="modal__caption-container">
                <p id="caption"></p>
            </div>
            <% pen.images.forEach(function(image, index) { %>
                <div class="modal__column">
                    <img class="modal__demo" src="<%=image%>" onclick="currentSlide(<%=index+1%>)" alt="<%=pen.title%>">
                </div>
            <% }); %>
        </div>
    </div>
</div>

<script src="../assets/js/modal.js"></script>


<% include partials/footer %>
