<% include ../partials/header %>

<div class="main">
    <h1 class="sort">View and Edit Info Articles</h1>
    <img src="https://s3.amazonaws.com/rosspens-assets/images/divider.png" class="divider">
    <table class="adminTable">
        <tr>
            <th>Display Title</th>
            <th>Full Title</th>
            <th>Date Added</th>
        </tr>
         <% articles.forEach((article) => { %>
             <tr>
                 <td><a href=<%=`/about/${encodeURI(article.title)}`%>><%=article.title%></a></td>
                 <td><a href=<%=`/about/${encodeURI(article.title)}`%>><%=article.longTitle%></a></td>
                 <td><%=article.dateAdded.toLocaleDateString("en-US")%></td>
                 <td><a class="btn inline-btn" href=<%=`/about/${encodeURI(article.title)}/edit`%>>EDIT</a></td>
                 <td>
                 
                  </td>
            </tr>
        <% }); %>
           <tr>
                <td colspan="5"><a href='/about/new'>Add a New Info Article</a></td>
            </tr>
    </table>
    <h2 class="adminNav"><a href="/admin/dashboard">Return to Dashboard</a></h2>
</div>
<% include ../partials/footer %>